// Nav component variable overrides
// These are imported by bootstrap-custom.scss before Bootstrap itself

// Uncomment and modify to customize nav appearance:
// $nav-link-padding-y: .5rem;
// $nav-link-padding-x: 1rem;
// $nav-link-font-size: null;
// $nav-link-font-weight: null;
// $nav-link-color: var(--#{$prefix}link-color);
// $nav-link-hover-color: var(--#{$prefix}link-hover-color);
// $nav-link-disabled-color: var(--#{$prefix}secondary-color);

// Tabs
// $nav-tabs-border-color: var(--#{$prefix}border-color);
// $nav-tabs-border-width: var(--#{$prefix}border-width);
// $nav-tabs-border-radius: var(--#{$prefix}border-radius);
// $nav-tabs-link-active-color: var(--#{$prefix}emphasis-color);
// $nav-tabs-link-active-bg: var(--#{$prefix}body-bg);

// Pills
// $nav-pills-border-radius: var(--#{$prefix}border-radius);
// $nav-pills-link-active-color: $component-active-color;
// $nav-pills-link-active-bg: $component-active-bg;

// Underline
// $nav-underline-gap: 1rem;
// $nav-underline-border-width: .125rem;
// $nav-underline-link-active-color: var(--#{$prefix}emphasis-color);
